<div class="container">
<br>
  <div class="row">
    <div class="col">
      <%= image_tag "logo_footer.png", class: " titulo"  %>
      <br/>
      <%= small_text("Por favor, ingrese toda la información solicitada.") %>
      <%= render 'form', patrimonio: @patrimonio %>
    </div>
  </div>

</div>