.alert {
  position: fixed;
  top: 55px;
  right:0;
  z-index: 1000;
}

.alert-info {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  opacity: 0.9;
}

.bd-callout-info {
  border-left-color: #5bc0de;
}
.bd-callout {
  padding: 1.25rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  border: 1px solid #e9ecef;
  border-left-width: .25rem;
  border-radius: .25rem;
}