.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-cancel {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #6a757e;
  transition: background 0.3s ease;
}
.button_rounded {
  border-radius: 30px;
  margin:5px;
}

.button_orange {
  background: #FFA62B;
  border-radius: 30px;
  margin:5px;
}