.avatar-calificaciones {
  width: 50px !important;
}

.avatar-area {
  display: inline-block;
  width: 60px;
}

.button .button_dropdownMenu2 {
  border: none !important;
  background: white !important;
}

.button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border:none !important;
}