.form-inputs {
  width: 80%;
  border-radius: 46px;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: 5px 40px
}

.form-actions {
  height: 73px;
  align-items: center;
  margin: 5px 200px;
  display: flex;
  text-align: center
}
