.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'roboto', sans-serif;
}

.mapStyle {
  margin-top: 5px;
  display: block;
  max-height: 100%;
}
