.navbar-lewagon {
  justify-content: space-between;
  background: #402455;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.titulo {
  width: 280px;
}


@media(max-width: 992px) {
  .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom:0;
    list-style: none;
  }
}

@media(max-width: 576px) {
  .nav {
    display: inline-block;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom:0;
    list-style: none;
  }
}
