<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <br>
      <h1> Error interno en el servidor!</h1>

      <p class="text-justify">

        Lamentamos este error producido en el servidor. Estamos registrando la p치gina para realizar las
        correcciones respectivas.
        Para mejorar la experiencia en la navegaci칩n, sugerimos que puedas hacer clic
        en los objetos de navegaci칩n de la misma aplicaci칩n.
      </p>
      <br>
    </div>
  </div>
</div>
