<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <br>
      <h1> 404: Página no encontrada!</h1>

      <p class="text-justify">
        La página indicada, no fue encontrada. Estamos registrando la página para corregir esta situación. Para mejorar
        la experiencia en la navegación, sugerimos que puedas hacer clic
        en los objetos de navegación de la misma aplicación.</p>

      <br>
    </div>
  </div>
</div>
